* {
    font-family: 'Readex Pro', sans-serif;
}

body {
    margin: 0;
    background-color: #f7f7f7;    
}

header {
    height: 50px;
    background-color:black;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
}

footer {
    height: 100%;
    background-color:#FDCFA5;
    font-size: 12px;
    flex-wrap: flex;
    text-align: center;
    padding: 10px;
}

footer img {
    height:50px;
}

.logo {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 10%;


}
.logo img, .logo a {
    max-height: 44px;
    margin: 3px;
}
    
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav div {
    height: 50px;
    margin-right: 10%;
    justify-content: flex-end;
    align-items: center;
    display: flex;


}
nav a {
    float: right;
    display: block;
    text-align: right;
    color: white;
    text-decoration: none;
    border: solid;
    border-color:#444857;
    background-color: #444857;
    padding: 8px;
    margin: 2px;
    border-radius:5%;
}
  
nav a:hover {
    border: solid;
    border-color:white;
    border-radius:5%;
    background: #FDCFA5;
    color: black;
    font-weight: bold;
  }

  a {
    color: #006466;
    font-weight: bold;
}
  
a:hover {
    background: #FDCFA5;
    color: black;
    font-weight: bold;
  }

.main-content {
    color:black;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 30px;
    height: 100%;
}

.intro {
  display: flex;
  align-items: center;
  background-color: #C0E6DE;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 50px;

}

.intro-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C0E6DE;
  padding: 60px;
}

.intro p {
  text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    color: #006466;
    font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.short-bio {
  padding-left:150px;
  padding-right: 150px;
  padding-bottom:60px;
}

/* Attempt at styling the timeline  */


@media (min-width: 1000px) {
    #timeline .demo-card:nth-child(even) .head::after, #timeline .demo-card:nth-child(odd) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
  
    #timeline .demo-card:nth-child(even) .head::before, #timeline .demo-card:nth-child(odd) .head::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      background-color: #bdbdbd;
      border-radius: 9px;
      box-shadow: 0px 0px 2px 8px #f7f7f7;
    }
  }
  /* Some Cool Stuff */
  .demo-card:nth-child(1) {
    order: 1;
  }
  
  .demo-card:nth-child(2) {
    order: 4;
  }
  
  .demo-card:nth-child(3) {
    order: 2;
  }
  
  .demo-card:nth-child(4) {
    order: 5;
  }
  
  .demo-card:nth-child(5) {
    order: 3;
  }
  
  .demo-card:nth-child(6) {
    order: 6;
  }
  
  /* Border Box */
  * {
    box-sizing: border-box;
  }
  
  #timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
      display: flex;
      flex-flow: column wrap;
      width: 1170px;
      height: 1000px;
      margin: 0 auto;
    }
  }
  #timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
      border-left: 1px solid #bdbdbd;
    }
  }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
  }
  @media (min-width: 480px) {
    #timeline .demo-card {
      max-width: 60%;
      box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
  }
  @media (min-width: 720px) {
    #timeline .demo-card {
      max-width: 40%;
    }
  }
  @media (min-width: 1000px) {
    #timeline .demo-card {
      max-width: 450px;
      height: 235px;
      margin: 90px;
      margin-top: 45px;
      margin-bottom: 45px;
    }
    #timeline .demo-card:nth-child(odd) {
      margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
      border-left-width: 15px;
      border-left-style: solid;
      left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
      left: 491.5px;
    }
    #timeline .demo-card:nth-child(even) {
      margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
      border-right-width: 15px;
      border-right-style: solid;
      right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
      right: 489.5px;
    }
    #timeline .demo-card:nth-child(2) {
      margin-top: 180px;
    }
  }
  #timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
  }
  #timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
  }
  #timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 {
      font-size: 165%;
      line-height: 1.2rem;
    }
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
      font-size: 0.8rem;
    }
  }
  #timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
  }

  #timeline .demo-card .body #finger {
    text-align: left;
  }

  @media (min-width: 1000px) {
    #timeline .demo-card .body {
      height: 150px;
    }
  }
  #timeline .demo-card .body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  #timeline .demo-card--step1 {
    background-color: #0077b6;
  }
  #timeline .demo-card--step1 .head::after {
    border-color: #0077b6;
  }
  #timeline .demo-card--step2 {
    background-color: #00b4d8;
  }
  #timeline .demo-card--step2 .head::after {
    border-color: #00b4d8;
  }
  #timeline .demo-card--step3 {
    background-color: #90e0ef;
  }
  #timeline .demo-card--step3 .head::after {
    border-color: #90e0ef;
  }
  #timeline .demo-card--step4 {
    background-color: #caf0f8;
  }
  #timeline .demo-card--step4 .head::after {
    border-color: #caf0f8;
  }
  #timeline .demo-card--step5 {
    background-color: #FDCFA5;
  }
  #timeline .demo-card--step5 .head::after {
    border-color: #FDCFA5;
  }





/* Attempt at styling a flip card  */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }

  /* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    left: 33px;
    right: 33px;
    top: 105px;
    background-color: white;
    color: black;
  }

  .game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:450px;
  }
  
  .game p {
    padding:10px;
  }



  /* Styling contact me page */

form {
  margin: 60px auto;
  width: 90%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.form-item label {
  flex-basis: 150px;
}

.form-item input,
.form-item textarea {
  flex-basis: 40%;
  border: 2px solid #006466;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #FDCFA5;
}

.form-item input,
.form-item textarea,{
  border: 2px solid #006466;
  background-color: #FFF;
  padding: 5px;
}

.form-item button:hover {
  border: solid;
  border-color:white;
  border-radius:5%;
  background: #FDCFA5;
  color: black;
  font-weight: bold;
}

.form-item button {
  width: 100px;
  color: white;
  text-decoration: none;
  border: solid;
  border-color:#444857;
  background-color: #444857;
  padding: 8px;
  margin: 2px;
  border-radius:5%;
}
